<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Sportify</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body id="bodysite">
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">Sportify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('search')}}">
            <div class="form-group">
                <input class="form-control mr-sm-2" name="codice" type="search" placeholder="Codice evento" aria-label="Codice evento">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Cerca</button>
            </div>
        </form>
        <ul class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('home')}}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('sport')}}">Sport</a>
            <a class="nav-item nav-link active" href="{{ url_for('team') }}">Team</a>
            {% if session['username'] == "admin" %}
                <a class="nav-item nav-link active" href="{{ url_for('admin')}}">Pannello Amministrazione</a>
            {% endif %}
            <a class="nav-item nav-link active text-danger" href="{{ url_for('logout')}}">Logout</a>
        </ul>
    </div>
    <span class="navbar-text text-warning">Accesso effettuato come {{session['username']}}</span>
</nav>
<div class="jumbotron" id="jumbomain">
    <h1>Team</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-md-auto">
                {% if session.team %}
                    <h2>{{ session['team'] }}</h2>
                    {% set membri_team = session.database.teams.find_one({'name': session['team']}) %}
                        <table class="table table-bordered">
                        <thead>
                        <tr class="bg-success">
                            <th scope="col">Lista membri</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for membro in membri_team.users %}
                        <tr class="bg-secondary">
                            <td>{{ membro }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    <br>
                    <form action="{{ url_for('leaveteam') }}">
                    <button type="submit" class="btn btn-danger">Lascia team</button>
                    </form>
                {% else %}
                    <h2>non fai parte di nessun team</h2>
                    <br>
                    {% with errori = get_flashed_messages() %}
                        {% if errori %}
                            {% for errore in errori %}
                                <div class="alert alert-danger" id="wrong" role="alert">{{ errore }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <h3>Crea team</h3>
                    <form method="POST" action="{{ url_for('createteam') }}">
                        <div class="form-group">
                            <label for="createam">Nome team</label>
                            <input type="text" class="form-control" name="teamname" id="createam" placeholder="Nome team" maxlength="20" required>
                        </div>
                    <button type="submit" class="btn btn-success">Crea team</button>
                    </form>
                    <br>
                    <h3>Entra in un team</h3>
                    <form method="POST" action="{{ url_for('searchteam') }}">
                        <div class="form-group">
                            <label for="searchteam">Nome team</label>
                            <input type="text" class="form-control" name="teamname" id="searchteam" placeholder="Nome team" maxlength="20" required>
                        </div>
                    <button type="submit" class="btn btn-success">Entra nel team</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>